<link rel="stylesheet" media="all" href="{{.AuthURL "/assets/qor_auth.css"}}">
<div class="container qor-auth qor-auth-light">
  <div class="qor-auth-box">
    <h1>{{t "mail.confirmations.instruction"}}</h1>

  </div>
</div>
